@import 'base/variables';
@import 'base/animations';

* {
    font-family: "Museo Sans Cyrl", sans-serif;
}

.container {

    width: 950px;
    margin: 0 auto;

}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons.scss';
@import 'blocks/advantages.scss';
@import 'blocks/titles.scss';
@import 'blocks/consultation.scss';
@import 'blocks/forms.scss';
@import 'blocks/carousel.scss';
@import 'blocks/catalog.scss';
@import 'blocks/feed.scss';
@import 'blocks/footer.scss';
@import 'blocks/modal.scss';
@import 'blocks/pageup.scss';